:host {
  /* display: block; */
  width: 100%;
  height: 100%;
}

.custom-node {
  width: 100px;
  height: 140px;
  position: relative;
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
  border: 2px solid rgb(255, 225, 0);
  border-radius: 10%;
  overflow: hidden;


  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;

  &._selected {
    border: 2px solid gray;
  }
}

.text-node {
  color: white;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 5px;
}
.pi-times {
  transition: background-color 0.2s ease-in-out;
    border-radius: 50%;
    color: red;

}

.pi-times:hover {
  background-color: rgba(255, 0, 0, 0.4);
  border-radius: 50%;
}