<h3>Video Project Generator Form</h3>

<div class="source-form-card">
  <p-card [header]="videoGeneratorId ? 'Edit Project' : 'Nuevo Proyecto de Video'">
    <form [formGroup]="videoGeneratorForm">
      <div class="form-field">
        <label for="name" class="block">Name</label>
        <input pInputText id="name" type="text" formControlName="name" placeholder="Cuál es el nombre del proyecto?" />
      </div>

      <div class="form-field">
        <label for="description" class="block">Description</label>
        <textarea id="description" pTextarea formControlName="description" rows="2" class="w-full" placeholder="Breve descripción del proyecto"> </textarea>
      </div>
    </form>

    <div style="display: flex; gap: 10px; justify-content: flex-end">
      <p-button
        outlined
        severity="warn"
        (click)="addSource()"
        label="Agregar fuente"
        [disabled]="!videoGeneratorForm.valid"
        icon="pi pi-paperclip"
        iconPos="right">
      </p-button>

      <p-button outlined severity="info" (click)="addVideo()" label="Add Video" [disabled]="!videoGeneratorForm.valid" icon="pi pi-video" iconPos="right">
      </p-button>

      <p-button (click)="save()" label="Save" [disabled]="!videoGeneratorForm.valid" icon="pi pi-save" iconPos="right"> </p-button>
    </div>
  </p-card>
</div>

<br />

<p-card header="Fuentes">
  @if (videoProject?.sources?.length) { @for (source of videoProject?.sources; track source.reference?.id) {

  <div style="display: flex; gap: 10px">
    <div>
      @if(source.reference?.thumbnail?.url) {
      <img style="width: 200px; border-radius: 20px" [src]="source.reference?.thumbnail?.url" alt="Thumbnail" />
      } @else {
      <img style="width: 200px; border-radius: 20px" src="assets/images/default-feature1.png" alt="Thumbnail" />
      }
    </div>

    <div>
      <div style="display: flex; gap: 10px">
        <p>{{ source.reference?.name }} - {{ source.reference?.description }}</p>
        <p-button icon="pi pi-times" severity="danger" (click)="removeSource(source)" />
      </div>

      <div style="display: flex; gap: 15px">
        <div>Video: <p-checkbox [ngModel]="!!source.reference?.video?.video" [binary]="true" [disabled]="true" /></div>
        <div>Audio: <p-checkbox [ngModel]="!!source.reference?.video?.audio" [binary]="true" [disabled]="true" /></div>
        <div>Transcripción: <p-checkbox [ngModel]="!!source.reference?.video?.transcription" [binary]="true" [disabled]="true" /></div>
        <div>Imagen: <p-checkbox [ngModel]="!!source.reference?.video?.frames" [binary]="true" [disabled]="true" /></div>
      </div>

      <div style="margin-top: 5px">
        <p-button label="Go To Source" [link]="true" (click)="goToSource(source)" />
        <p-button label="Download Composition" severity="info" [link]="true" (click)="downloadComposition(source)" />
      </div>
    </div>
  </div>
  } } @else {
  <p>No hay fuentes, Agrega una fuente para comenzar</p>
  }
</p-card>

<br />

<p-card header="Extractor de fragmentos">
  <p-select
    [options]="videoProject?.sources"
    [(ngModel)]="fragmentExtraction.selectedSourceId"
    optionLabel="name"
    optionValue="id"
    placeholder="Selecciona una fuente" />

  <div class="form-field">
    <label class="block">Instrucciones para extraer fragmentos de las fuentes y crear un plan de composición</label>
    <textarea
      [(ngModel)]="fragmentExtraction.instructions"
      pTextarea
      rows="2"
      class="w-full"
      placeholder="Detalla más lo que quieres, ej. dame la parte más pegajosa del vídeo...">
    </textarea>
  </div>

  <div>
    <p-button [loading]="isLookingFragments" (click)="getAndSaveBestFragments()" label="Encontrar fragmentos" [disabled]="!fragmentExtraction.selectedSourceId">
    </p-button>

    <p-button [loading]="isLookingFragments" (click)="manualExtractFragments()" label="Selección Manual" [disabled]="!fragmentExtraction.selectedSourceId">
    </p-button>
  </div>

  <div>
    @if (videoProject?.compositionPlan?.overlays?.length) {

    <div class="card flex justify-content-center">
      <p-accordion [value]="['0']" [multiple]="true">
        <p-accordion-panel value="0">
          <p-accordion-header> Detalles de la extracción </p-accordion-header>
          <p-accordion-content>
            <p class="m-0">
              <span>Mostrando los segundos: </span>
              <!-- <p-tag [value]="videoGenerator?.plan?.extraction?.start?.toString()" [rounded]="true" /> -->
              -
              <!-- <p-tag [value]="videoGenerator?.plan?.extraction?.end?.toString()" [rounded]="true" /> -->
            </p>
          </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="1">
          <p-accordion-header> Razón y sugerencias </p-accordion-header>
          <p-accordion-content>
            <p class="m-0"></p>
            <!-- <p>{{ videoGenerator?.plan?.extraction?.reason }}</p>
            <p>{{ videoGenerator?.plan?.extraction?.suggestions }}</p> -->
          </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="2">
          <p-accordion-header>Prompt</p-accordion-header>
          <p-accordion-content>
            <p>Trabajando en plan</p>
            <!-- <markdown [data]="videoGenerator?.plan?.extraction?.instructions" ngPreserveWhitespaces></markdown> -->
            <!-- <div [innerHTML]="videoGenerator?.plan?.extraction?.instructions | language : 'typescript' | markdown | async"></div> -->
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    </div>

    }
  </div>
</p-card>

@if (videoProject?.sources?.length) {

<br />
<br />
<p-card header="Plan de Composición Final">
  <!-- <h6>Ejemplo para el futuro</h6> -->
  <!-- <markdown [src]="'assets/m.md'" mermaid></markdown> -->

  @if (videoProject?.compositionPlan?.overlays?.length) {
  <app-resizable-segment-demo [videoProject]="videoProject"></app-resizable-segment-demo>
  <app-rve [videoProject]="videoProject"></app-rve>
  }
</p-card>

}
