@if (job(); as jobData) {
<div>
  <div style="display: flex; justify-content: space-between; align-items: center">
    <h2>Outcome Job Details</h2>
    <div>
      <p-button (click)="toggleDebugData()" label="Debug Data" link />
      <p-button (click)="toggleViewMode()" [label]="viewMode() === 'markdown' ? 'Text' : 'Markdown'"></p-button>
    </div>
  </div>

  @if (jobData.agentCard) {
  <div class="section">
    <div style="display: flex; gap: 10px">
      @if (jobData.agentCard.assets?.image?.url; as imageUrl) {
      <div>
        <div>
          <img class="agent-card-image" [src]="imageUrl" width="200" />
        </div>
      </div>
      }

      <div style="flex: 1">
        <h4>Agent Card</h4>
        <p><strong>Title:</strong> {{ jobData.agentCard.name }}</p>
        <div class="section">
          <p><strong>Task Name:</strong> {{ jobData.task.name }}</p>
          <p><strong>Outcome id:</strong> {{ jobData._id }}</p>
        </div>
      </div>
    </div>
  </div>
  <br />

  } @if (jobData.responseFormat === responseFormat.ARRAY) {
  <div class="section">
    <h4>Response ARRAY FORMAT</h4>
    <pre>{{ jobData.result | json }}</pre>
  </div>
  } @else if (jobData.responseFormat === responseFormat.JSON) {
  <div class="section">
    <h4>Response JSON FORMAT</h4>
    <pre>{{ jobData.result | json }}</pre>
  </div>
  }
  <!-- TODO: No se como terminar esto -->
  <!-- @else if (jobData.responseFormat === responseFormat.DEFAULT_CONTENT) {
  <div class="section">
    <h4>Response DEFAULT FORMAT</h4>
    <pre>{{ jobData.response?.content }}</pre>
  </div>
  }  -->
  <!-- @else {
  <div class="section">
    <h4>Response TEXT FORMAT</h4>
    <pre>{{ jobData.response?.content }}</pre>
  </div>
  }  -->

  @if (jobData.result) {

  <p-card header="Result">
    <div class="section">
      <h4>{{ jobData.result.description }}</h4>
      <div class="message">
        @if(viewMode() === 'markdown'){
        <markdown>
          {{ jobData.result.content }}
        </markdown>
        } @else {
        <pre>{{ jobData.result.content }}</pre>
        }
        <p style="font-size: 0.8em; color: gray">Word count: {{ resultWordCount() }}</p>
      </div>
      @if (jobData.result?.tags && jobData.result.tags.length > 0) {
      <div style="margin-top: 10px">
        <strong>Tags:</strong>
        @for (tag of jobData.result.tags; track tag) {
        <p-tag severity="secondary" [value]="tag" [style]="{ 'margin-right': '5px' }"></p-tag>
        }
      </div>
      }
    </div>
  </p-card>
  } @if (jobData.response) {

  <p-card header="Response: {{ jobData.response.role }}">
    <div class="section">
      <div class="message">
        @if(viewMode() === 'markdown'){
        <markdown>
          {{ jobData.response.content }}
        </markdown>
        } @else {
        <pre>{{ jobData.response.content }}</pre>
        }
        <!-- <pre>{{ jobData.response.content }}</pre> -->
      </div>
    </div>
  </p-card>
  }

  <p-divider></p-divider>
  <h4>Distribuir en canales</h4>

  <p-button (click)="distribute('blog')" label="Enviar a blog"></p-button>

  @if (jobData.infoFromSources; as info) {
  <div class="section">
    <h4>Information From Sources</h4>
    <pre>{{ info }}</pre>
  </div>
  } @if (showDebugData() && jobData.messages && jobData.messages.length > 0) {
  <div class="section">
    <h4>Messages</h4>
    @for (message of jobData.messages; track message.role + message.content; let i = $index) {
    <details>
      <summary>Message {{ i + 1 }} - Role: {{ message.role }}</summary>
      <pre>{{ message.content }}</pre>
    </details>
    }
  </div>
  } @if (jobData.sources && jobData.sources.length > 0) {
  <div class="section">
    <h4>Sources</h4>
    <ul>
      @for (source of jobData.sources; track source.id) {
      <li>
        <!-- Assuming ISourceTask has a 'name' or 'title' property to display -->
        <!-- Adjust this part based on the actual structure of ISourceTask -->
        <p>{{ source.id }} - {{ source.type }}</p>
      </li>
      }
    </ul>
  </div>
  }
</div>
} @else {
<p>Loading job details or no job data available...</p>
}

<br />
@if(showDebugData()){
<details>
  <summary>Raw JSON Data</summary>
  <pre>
    {{ job() | json }}
  </pre>
</details>
}
