@if (job(); as jobData) {
<div>
  <h2>Job Details</h2>

  @if (jobData.agentCard) {
  <div class="section">
    <h4>Agent Card</h4>
    <p><strong>Title:</strong> {{ jobData.agentCard.title }}</p>
    @if (jobData.agentCard.assets?.image?.url; as imageUrl) {
    <div>
      <div style="width: 200px">
        <img class="agent-card-image" [src]="imageUrl" width="200" />
      </div>
    </div>
    }
  </div>
  }

  <div class="section">
    <p><strong>Task Name:</strong> {{ jobData.task.name }}</p>
  </div>

  <p-card header="Response: {{ jobData.response.role }}">
    @if (jobData.result; as result) {
    <div class="section">
      <h4>{{ result.title }}</h4>
      <div class="message">
        <pre>{{ result.content }}</pre>
      </div>
    </div>
    }
  </p-card>

  <p-divider></p-divider>
  <h4>Distribuir en canales</h4>

  <p-button (click)="distribute('blog')" label="Enviar a blog"></p-button>

  @if (jobData.infoFromSources; as info) {
  <div class="section">
    <h4>Information From Sources</h4>
    <pre>{{ info }}</pre>
  </div>
  } @if (jobData.messages && jobData.messages.length > 0) {
  <div class="section">
    <h4>Messages</h4>
    <p-accordion [activeIndex]="null">
      @for (message of jobData.messages; track message.role + message.content; let i = $index) {
      <p-accordion-panel>
        <p-accordion-header>Message {{ i + 1 }} - Role: {{ message.role }}</p-accordion-header>
        <p-accordion-content>
          <pre>{{ message.content }}</pre>
        </p-accordion-content>
      </p-accordion-panel>
      }
    </p-accordion>
  </div>
  } @if (jobData.sources && jobData.sources.length > 0) {
  <div class="section">
    <h4>Sources</h4>
    <ul>
      @for (source of jobData.sources; track source.id) {
      <li>
        <!-- Assuming ISourceTask has a 'name' or 'title' property to display -->
        <!-- Adjust this part based on the actual structure of ISourceTask -->
        <p>{{ source.id }} - {{ source.type }}</p>
      </li>
      }
    </ul>
  </div>
  }
</div>
} @else {
<p>Loading job details or no job data available...</p>
}

<br />
<details>
  <summary>Raw JSON Data</summary>
  <pre>
    {{ job() | json }}
  </pre>
</details>
