@if (selected()) {
<app-node-toolbar (delete)="handleToolbarEvents('delete')" (none)="handleToolbarEvents('none')" (details)="handleToolbarEvents('details')"> </app-node-toolbar>
}
<div class="node-container" (dblclick)="openModal()" (click)="selectNode()">
  <div class="node-card" [ngClass]="'status-' + (statusJob() || 'default')">
    <div class="image-background" alt="">
      {{ selected() }}
      <p class="text-node">{{ node()?.data?.nodeData?.prompt }}</p>
      <p-tag class="tag" [value]="taskExecutionState()?.status || '🦻'" severity="danger" />
      <p class="text-node">{{ node()?.data?.nodeData?.provider }}</p>
      <p class="text-node">{{ node()?.data?.nodeData?.request.seconds }}</p>

      <handle type="target" position="left" id="left" />
      <handle type="source" position="right" id="right" />
      <handle type="target" position="top" id="top" />
    </div>
  </div>
</div>

@if (selected()) {

<app-actions-toolbar
  [statusJob]="statusJob()"
  [taskExecutionState]="taskExecutionState()"
  (runNode)="handleActionsToolbarEvents('runNode')"
  (runEndPoint)="handleActionsToolbarEvents('runEndPoint')"></app-actions-toolbar>
}
