
@use "../mixins" as *;

.node-container {
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
  background-color: hsl(169, 97%, 48%);
  background-image: linear-gradient(0deg, hsla(0,0%,0%,0) 0, hsla(0, 0%, 0%, 0.2) 3px),
    linear-gradient(90deg, hsla(0, 87%, 27%, 0) 0, hsla(0,0%,0%,0.1) 5px);
  background-size: 3px 3px;
}

.node-card {
  border-radius: 15px;
  border: 5px solid #f57403;
  overflow: hidden;
  box-shadow: 7px 7px 21px #f05117, -7px -7px 21px #ffffff;

}

.image-background {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
}

.status-default {
  @include status-animation("white", white); // Default orange
}


.status-pending {
  @include status-animation("yellow", yellow);
}

.status-in_progress {
  @include status-animation("blue", blue);
}

.status-completed {
  @include status-animation("green", green);
}

.status-failed {
  @include status-animation("red", red);
}