
.container {
  background-size: cover;
  background-position: center;
  border: 5px solid #fff;
  box-shadow: 7px 7px 21px #bdbdbd, -7px -7px 21px #ffffff;
  box-sizing: border-box;
  background-color: #cbbbbb;
}