<div class="upload-container">
  <label for="source-file-input">Upload Markdown File</label>
  <input id="source-file-input" type="file" (change)="onFileSelected($event)" accept=".md" />
</div>
<br />
<p-select [options]="tags" [(ngModel)]="selectedTag" placeholder="Select a Tag" />
<br />
<span>Or</span>
<textarea [autoResize]="true" rows="2" fluid pTextarea [(ngModel)]="contentSource" placeholder="Add the source as markdown text"></textarea>

<br />

<button pButton label="Guardar" (click)="onSourceSave()"></button>
