:host {
  display: block;
}


.custom-node {
  width: 120px;
  height: 120px;
  position: relative;
  background: #9fdefb;
  border: 2px solid rgb(0, 174, 255);
  border-radius: 50%;
  overflow: hidden;


  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;

  &_selected {
    border: 2px solid gray;
  }
}

.text-node {
  color: white;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 5px;
}