<div class="custom-node" selectable [class.custom-node_selected]="selected()" (dblclick)="openModal()">
  <div class="card-background" [style.background-image]="backgroundImageUrl"></div>
  <div class="card-content">
    <p class="main-text">
      @if (this.data()?.outcomeJob?.responseFormat === responseFormat.ARRAY) {
      {{ this.data()?.outcomeJob?.result | json }}
      } @else if (this.data()?.outcomeJob?.responseFormat === responseFormat.JSON) {
      {{ this.data()?.outcomeJob?.result | json }}
      } @else if (this.data()?.outcomeJob?.responseFormat === responseFormat.DEFAULT_CONTENT) {
      {{ this.data()?.outcomeJob?.response || this.data()?.outcomeJob?.result?.description || 'No response in format DEFAULT_CONTENT' }}
      } @else {
      {{ this.data()?.outcomeJob?.response?.content }}
      }
      <!-- {{ outcomeJob?.result?.content || 'No response' }} -->
    </p>
  </div>

  <p-button (click)="removeNode()" class="hover-button" icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" />

  <!-- <img style="position: absolute; top: 0; left: 0" [src]="data()?.image" alt="" /> -->

  <handle type="target" position="left" id="b" />
  <handle type="source" position="right" id="b" />
</div>
