:host {
  display: block;
}


.custom-node {
  width: 200px;
  height: 250px;
  position: relative;
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
  border: 2px solid rgb(26, 220, 178);
  border-radius: 10%;
  overflow: hidden;


  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;

  &_selected {
    border: 2px solid gray;
  }
}

.text-node {
  color: white;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 5px;
}