<div class="custom-node" selectable [class.custom-node_selected]="selected()" (dblclick)="openModal()">
  <div style="height: 100%; overflow-y: scroll">
    <p class="text-node">{{ outcomeJob?._id }}</p>
    <p style="font-size: 10px">
      {{ outcomeJob?.result?.content || 'No response' }}
    </p>
  </div>
  <!-- <img style="position: absolute; top: 0; left: 0" [src]="data()?.image" alt="" /> -->

  <handle type="target" position="left" id="b" />
  <handle type="source" position="right" id="b" />
</div>
