@if (selected()) {
<app-node-toolbar
  [hasExecutionState]="!!(taskExecutionState() || jobExecutionState())"
  (delete)="handleToolbarEvents('delete')"
  (none)="handleToolbarEvents('none')"
  (details)="handleToolbarEvents('details')"
  (duplicate)="handleToolbarEvents('duplicate')"
  (executionDetails)="handleToolbarEvents('executionDetails')"
></app-node-toolbar>


}

<div
  class="node-container"
  (click)="selectNode()"
  (dblclick)="openDetails()"
  [style.border-color]="color()"
>
  <div
    class="node-card"
    [class.selected]="selected()"
    [ngClass]="'status-' + (currentStatus() || 'default')"
    [style.--node-color]="color()"
    [style.--node-color-alpha]="color() + '60'"
  >



    @if (nodeCategory() === 'process') {
      <handle type="target" position="left" id="left" />
      <handle type="target" position="top" id="top" />
    }

    <div #container></div>

    @if (selected()) {
      <div class="selection-indicator">
        <p-tag class="tag" [value]="nodeCategory()" [severity]="statusSeverity()" />
        <i class="pi pi-check" style="color: white"></i>
      </div>
    }

    <handle type="source" position="right" id="right" />
  </div>
</div>


@if (selected() && nodeCategory() === 'process') {
<app-actions-toolbar
  [statusJob]="statusJob()"
  [taskExecutionState]="taskExecutionState()"
  (runNode)="handleActionsToolbarEvents('runNode')"
  (runEndPoint)="handleActionsToolbarEvents('runEndPoint')"
></app-actions-toolbar>
}