
@use "../mixins" as *;

.node-container {
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
  min-width: 140px;

}

.node-card {
  border-radius: 15px;
  border: 5px solid;
  overflow: hidden;
  box-shadow: 7px 7px 21px #1779f0, -7px -7px 21px #ffffff;
}

.image-background {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
}


.status-default {
  @include status-animation("white", white); // Default orange
}


.status-pending {
  @include status-animation("yellow", yellow);
}

.status-in_progress {
  @include status-animation("blue", blue);
}

.status-completed {
  @include status-animation("green", green);
}

.status-failed {
  @include status-animation("red", red);
}