
@use "../mixins" as *;

.node-container {
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
  min-width: 140px;
  border: 4px solid transparent; // Outer border for theme color
  transition: border-color 0.3s ease;
}

.node-card {
  border-radius: 15px;
  border: 5px solid #03c9f5; // Inner border for status color
  overflow: hidden;
  box-shadow: 7px 7px 21px #1779f0, -7px -7px 21px #ffffff;
}

.selection-indicator {
  display: flex;
  justify-content: space-around;
  background-color: #091829d1
}


.status-default {
  @include status-animation("white", white); // Default orange
}


.status-pending {
  @include status-animation("yellow", yellow);
}

.status-in_progress {
  @include status-animation("blue", blue);
}

.status-completed {
  @include status-animation("green", green);
}

.status-failed {
  @include status-animation("red", red);
}