@if (selected()) {
<app-node-toolbar (delete)="handleToolbarEvents('delete')" (none)="handleToolbarEvents('none')" (details)="handleToolbarEvents('details')"></app-node-toolbar>

@if (nodeCategory() === 'process') {
<app-actions-toolbar
  [statusJob]="statusJob()"
  [taskExecutionState]="taskExecutionState()"
  (runNode)="handleActionsToolbarEvents('runNode')"
  (runEndPoint)="handleActionsToolbarEvents('runEndPoint')"
></app-actions-toolbar>
}
}

<div class="node-container"  (click)="selectNode()" (dblclick)="openDetails()">
  <div class="node-card" [ngClass]="'status-' + (statusSeverity() || 'default')" [style.border-color]="color()">
    <p-tag class="tag" [value]="nodeCategory()" [severity]="statusSeverity()" />

    @if (nodeCategory() === 'process') {
    <handle type="target" position="left" id="left" />
    }

    <div #container></div>

    <handle type="source" position="right" id="right" />
  </div>
</div>
