::ng-deep .login-container {
    padding: 0px !important;
}

::ng-deep .login-card {
    box-shadow: none !important;
    border-radius: 2px !important;
    border: 2px solid var(--ion-color-primary) !important;
    max-width: 600px !important;
    width: 90vw !important;

}
    

