:host {
  display: block;
  height: 100%;
}

.agent-details-container {
  position: relative;
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 85vh;
  overflow-y: auto;
}

.content-wrapper {
  background-color: rgba(0, 0, 0, 0.7); /* Increased overlay opacity for better readability */
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
}