:host {
  display: block;
}


.custom-node {
  width: 120px;
  height: 160px;
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
  border: 2px solid rgb(255, 225, 0);
  border-radius: 10%;
  overflow: hidden;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;

  &_selected {
    border: 2px solid gray;
  }
}

.text-node {
  color: white;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.custom-node .hover-button {
  display: none;
  /* Add any other styling for the button here */
}

.custom-node:hover .hover-button {
  display: block;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}