<div class="custom-node" selectable [class.custom-node_selected]="selected()" (dblclick)="openModal()">
  <img style="position: absolute; top: 0; left: 0" [src]="data()?.agentCard?.assets?.image?.url" alt="" />
  <p class="text-node" style="font-size: 8px">
    ID Node: {{ node()?.id }}
    <br />
    ID Agent: {{ agentCard()?._id }}
  </p>

  <p-button (click)="removeNode()" class="hover-button" icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" />

  @if(agentExecutionState()?.status === statusJob.IN_PROGRESS) {
  <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
    <p-progress-spinner
      strokeWidth="10"
      fill="transparent"
      animationDuration=".6
    
    
    s"
      [style]="{ width: '50px', height: '50px' }" />
  </span>
  }

  <p-tag class="tag" [value]="agentExecutionState()?.status" severity="danger" />

  <handle type="source" position="right" />
  <handle type="target" position="left" />
</div>
