<!-- <vflow view="auto" [nodes]="nodes" [background]="backDots" /> -->

<div style="color: rebeccapurple; height: 100px">
  <button (click)="showAgents()">Create Edge</button>
</div>

<vflow view="auto" [nodes]="nodes" [edges]="edges" [background]="backDots" (onConnect)="createEdge($event)">
  <ng-template let-ctx nodeHtml>
    <div class="custom-node" selectable [class.custom-node_selected]="ctx.selected()">
      <img style="position: absolute; top: 0; left: 0" [src]="ctx.node.data().image" alt="" />
      <p class="text-node">{{ ctx.node.data().text }}</p>

      <handle type="source" position="top" id="a" />
      <handle type="source" position="right" id="b" />
      <handle type="source" position="bottom" id="c" />
      <handle type="source" position="left" id="d" />
    </div>
  </ng-template>
</vflow>

<p-dialog header="Search for relation" [(visible)]="isDialogVisible" [modal]="true" [style]="{ width: '100%', height: '100%' }">
  <dc-agent-card-lists (onAction)="handleRelationSelection($event)" />

  <!-- <app-agent-card-list (onSelect)="handleRelationSelection($event)"></app-agent-card-list> -->
</p-dialog>
