<!-- <vflow view="auto" [nodes]="nodes" [background]="backDots" /> -->

<div style="color: rebeccapurple; height: 40px">
  <p-button (click)="showAgents()" label="Add Agent" icon="pi pi-user" [rounded]="true" severity="success" [outlined]="true" />
  <p-button icon="pi pi-plus" label="Add Task" [rounded]="true" severity="warn" [outlined]="true" />
  <p-button icon="pi pi-heart" label="Add Distribution Channel" [rounded]="true" severity="help" [outlined]="true" />

  <p-button (click)="saveFlow()" label="Save Flow" icon="pi pi-save" [rounded]="true" severity="secondary" [outlined]="true" />
  <p-button icon="pi pi-play" label="Run Flow" [rounded]="true" severity="primary" [outlined]="true" />
</div>

<vflow view="auto" [nodes]="nodes" [edges]="edges" [background]="backDots" (onConnect)="createEdge($event)">
  <ng-template let-ctx nodeHtml>
    <div class="custom-node" selectable [class.custom-node_selected]="ctx.selected()">
      <img style="position: absolute; top: 0; left: 0" [src]="ctx.node.data().image" alt="" />
      <p class="text-node">{{ ctx.node.data().text }}</p>

      <handle type="source" position="top" id="a" />
      <handle type="source" position="right" id="b" />
      <handle type="source" position="bottom" id="c" />
      <handle type="source" position="left" id="d" />
    </div>
  </ng-template>
</vflow>

<p-dialog header="Agregar un agente" [draggable]="false" [(visible)]="isDialogVisible" [modal]="true" [style]="{ width: '85%', height: '85%' }">
  <dc-agent-card-lists viewMode="table" (onAction)="handleRelationSelection($event)" />
</p-dialog>
