.tts-node-container {
  background-color: rgb(240, 189, 189);
  height: auto;
  width: 350px;
  border: 2px solid orange;
  border-radius: 15px;
  padding: 10px;
}

::ng-deep .selector-item {
  width: 100% !important;

}

::ng-deep .selectors-container {
  display: block !important;
}
  