@use "../mixins" as *;

.node-container {
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
  background: #1779f0;
}

.node-card {
  border-radius: 15px;
  border: 3px solid #c414c7;
  overflow: hidden;
  box-shadow: 7px 7px 21px #1779f0, -7px -7px 21px #ffffff;
  padding: 10px;
  width: 200px;
  height: auto;
}

.status-default {
  @include status-animation("default", #ffbf87); // Default orange
}

.status-pending {
  @include status-animation("yellow", yellow);
}

.status-in_progress {
  @include status-animation("blue", blue);
}

.status-completed {
  @include status-animation("green", green);
}

.status-failed {
  @include status-animation("red", red);
}