.node-container {
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
}

.node-card {
  border-radius: 15px;
  border: 5px solid #ff6f00;
  overflow: hidden;
  box-shadow: 7px 7px 21px #b21301, -7px -7px 21px #ffffff; // no veo este color creo que no sirve. 
}

.image-background {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 100%;
}

@mixin status-animation($color) {
  animation: status-animation-#{$color} 3s infinite;

  @keyframes status-animation-#{$color} {
    0%,
    100% {
      box-shadow: 7px 7px 21px #{$color}, -7px -7px 21px lighten($color, 35%);
    }
    50% {
      box-shadow: 7px 7px 21px lighten($color, 35%), -7px -7px 21px #{$color};
    }
  }
}

.status-default {
  @include status-animation(lavender); // Default orange
}

.status-pending {
  @include status-animation(yellow);
}

.status-in_progress {
  @include status-animation(blue);
}

.status-completed {
  @include status-animation(green);
}

.status-failed {
  @include status-animation(red);
}