
.node-container {
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
}

.node-card{
  border-radius: 15px;
  border: 5px solid #f57403;
  box-shadow: 7px 7px 21px #f05117, -7px -7px 21px #ffffff;
  animation: vanishAndAppear 3s infinite;
  overflow: hidden;
}


.image-background {
  background-size: cover;
  background-position: center;
  height: 130px;
  width: 220px;
}


@keyframes vanishAndAppear {
  0%, 100% {
    box-shadow: 7px 7px 21px #249ae9, -7px -7px 21px #ffffff;
  }
  50% {
    box-shadow: 7px 7px 21px #a0c8d6, -7px -7px 21px #ffffff;
  }
}