@use "../mixins" as *;

::ng-deep {
  .p-dialog {
    overflow: hidden;
  }
}


.image-background {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 100%;
}

.node-container {
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
  border: 4px solid transparent; // Outer border for theme color
  transition: border-color 0.3s ease;
}


.node-card {
  border-radius: 15px;
  border: 5px solid #028a61; // Inner border for status color
  overflow: hidden;
  box-shadow: 7px 7px 21px #05285c, -7px -7px 21px #ffffff;
}



.status-default {
  @include status-animation("lavender", lavender); // Default orange
}

.status-pending {
  @include status-animation("yellow", yellow);
}

.status-in_progress {
  @include status-animation("blue", blue);
}

.status-completed {
  @include status-animation("green", green);
}

.status-failed {
  @include status-animation("red", red);
}