@if (selected()) {
<app-node-toolbar (delete)="handleToolbarEvents('delete')" (none)="handleToolbarEvents('none')" (details)="openModal()"> </app-node-toolbar>
}
<div class="node-container" (dblclick)="openModal()" (click)="selectNode()">
  <div class="node-card" [ngClass]="'status-' + (taskExecutionState()?.status || 'default')">
    <div class="image-background" [style.background-image]="'url(' + node()?.data?.nodeData?.image?.url + ')'" alt="">
      <p class="text-node">{{ node().data?.nodeData?.name }}</p>
      <p-tag class="tag" [value]="taskExecutionState()?.status || '🦻'" [severity]="statusSeverity()" />

      <handle type="target" position="left" id="left" />
      <handle type="source" position="right" id="right" />
      <handle type="target" position="top" id="top" />
    </div>
  </div>
</div>

@if (selected()) {
<app-actions-toolbar
  [statusJob]="status()"
  [taskExecutionState]="taskExecutionState()"
  (runNode)="handleActionsToolbarEvents('runNode')"
  (getExecutionUrl)="handleActionsToolbarEvents('getExecutionUrl')"
  (runEndPoint)="handleActionsToolbarEvents('runEndPoint')"></app-actions-toolbar>

<button style="margin-top: 10px" (click)="startConversation()" pButton>
  <i class="pi pi-comment" pButtonIcon></i>
  <span pButtonLabel>Conversar </span>
</button>
}
