<div class="custom-node" selectable [class.custom-node_selected]="selected()" (dblclick)="openModal()">
  <img style="position: absolute; top: 0; left: 0; object-fit: cover; width: 100%; height: 100%" [src]="data()?.agentTask?.image?.url" alt="" />
  <!-- <p class="text-node">{{ data()?.agentTask?.description }}</p> -->

  <p-button (click)="removeNode()" class="hover-button" icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" />

  <!-- Add this for debugging -->
  <!-- <div style="background-color: yellow; padding: 5px; margin-top: 5px">DEBUG: Task State: {{ taskExecutionState() | json }}</div> -->

  <p-tag class="tag" [value]="taskExecutionState()?.status" severity="danger" />
  <handle type="target" position="left" id="left" />
  <handle type="source" position="right" id="right" />
  <handle type="target" position="top" id="top" />
</div>
