:host {
  display: block;
}


.custom-node {
  width:200px;
  height: 140px;
  position: relative;
  background: #33ff00a0;
  border: 2px solid rgb(34, 255, 0);
  border-radius: 10%;
  overflow: hidden;


  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;

  &_selected {
    border: 2px solid gray;
  }
}

.text-node {
  color: white;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 5px;
}

.tag {
  position: absolute;
  top: 5px;
  left: 5px;
}

.execute-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}