@if (selected()) {
<app-node-toolbar (delete)="handleToolbarEvents('delete')" (none)="handleToolbarEvents('none')" (details)="openModal()"> </app-node-toolbar>
}
<div class="node-container" (dblclick)="openModal()" (click)="selectNode()">
  <div class="node-card" [ngClass]="'status-' + (taskExecutionState()?.status || 'default')">
    <div class="image-background" [style.background-image]="'url(' + node()?.data?.nodeData?.image?.url + ')'" alt="">
      <p class="text-node">{{ node()?.data?.nodeData?.name }}</p>
      <p-tag class="tag" [value]="taskExecutionState()?.status || '🦻'" [severity]="statusSeverity()" />

      <!-- @if(taskExecutionState()?.status === statusJob.IN_PROGRESS) {
      <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
        <p-progress-spinner strokeWidth="10" fill="transparent" animationDuration="1s" [style]="{ width: '50px', height: '50px' }" />
      </span>
      } -->

      <handle type="target" position="left" id="left" />
      <handle type="source" position="right" id="right" />
      <handle type="target" position="top" id="top" />
    </div>
  </div>
</div>

@if (selected()) {
<p-button (click)="runNode()" class="execute-btn" icon="pi pi-play" [rounded]="true" [text]="true" severity="info" />
<p-button (click)="getExecutionUrl()" class="remove-btn" icon="pi pi-link" [rounded]="true" [text]="true" severity="danger" />
<app-actions-toolbar
  [statusJob]="taskExecutionState()?.status || statusJobEnum.PENDING"
  [taskExecutionState]="taskExecutionState()"
  (runNode)="handleActionsToolbarEvents('runNode')"
  (runEndPoint)="handleActionsToolbarEvents('runEndPoint')"></app-actions-toolbar>
}
