// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// Dark theme


:root {
  --font-color: rgb(46, 47, 39);

  --shadow-card: #3587a1;

  // ...existing code...
  --ion-color-primary: var(--p-primary-500);
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: var(--p-slate-700);
  --ion-color-primary-tint: var(--p-stone-500);
  --ion-background-color: transparent !important;
  --ion-text-color: var(--p-slate-800);
  
  --ion-toolbar-segment-color: #30085b ;
  --ion-toolbar-segment-background: #30085b ;
  --ion-item-border-color: #--font-color ;
  --ion-item-color: var(--font-color) ;
  --ion-text-color-rgb: #30085b ;
  --ion-backdrop-color: #30085b ;

  // bottom bar tab colors. 
  --ion-tab-bar-color: var(--font-color);
  --ion-tab-bar-color-selected: rgba(255, 196, 17, 0.954);

}




// Dark theme (using class instead of media query)
:root.ion-palette-dark {
  --shadow-card: #dad133;
  --primary-dark-color: var(--p-primary-500);  // You can change this hex color

  --ion-text-color: #ffffff;
  --ion-border-color: var(--primary-dark-color);
  --ion-toolbar-segment-color: --primary-dark-color;
  --ion-toolbar-segment-background: --primary-dark-color;
  --ion-item-border-color: --primary-dark-color;
  --ion-item-color: rgb(255, 192, 46);      // Menu text 
  --ion-text-color-rgb: var(--primary-dark-color);
  --ion-backdrop-color: var(--primary-dark-color);
  --ion-overlay-background-color: var(--primary-dark-color);
  --ion-toolbar-segment-background-checked: var(--primary-dark-color);
  --ion-background-color: transparent;
  --ion-tab-bar-background: transparent;
  --ion-toolbar-background: transparent;
  --ion-item-background: transparent !important;
  --ion-item-backdrop: blur(3px) !important;


  --ion-color-primary: var(--primary-dark-color);
  --ion-color-primary-rgb: var(--primary-dark-color);
  --ion-color-primary-contrast: var(--primary-dark-color);
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: var(--primary-dark-color);
  --ion-color-primary-tint: var(--primary-dark-color);

    // bottom bar tab colors. 

  --ion-tab-bar-color: rgba(220, 172, 13, 0.893);
  --ion-tab-bar-color-selected: rgba(225, 209, 159, 0.954);


}
  




// // ...existing code...
