<dc-filter-bar (onNew)="onNew()"></dc-filter-bar>
<br />

@for (source of sources; track source.id) {
<div class="card-source">
  <div style="position: absolute; top: 4px; right: 4px; z-index: 1000">
    <p-speeddial
      [model]="getCustomButtons(source)"
      [radius]="70"
      type="semi-circle"
      direction="left"
      [buttonProps]="{ severity: 'primary', rounded: true, outlined: true }" />
  </div>
  <p-card [header]="source.name">
    <div>
      @if(source?.thumbnail?.url) {
      <img style="width: 200px; border-radius: 20px" [src]="source?.thumbnail?.url" alt="Thumbnail" />
      } @else {
      <img style="width: 200px; border-radius: 20px" src="assets/images/default-feature1.png" alt="Thumbnail" />
      }
    </div>
    <p class="m-0">{{ source.description | slice : 0 : 350 }}...</p>

    <p-chip [label]="source.type" icon="pi pi-{{ source.type }}" />

    <span style="margin-left: 10px">
      <p-tag icon="pi pi-key" severity="secondary" [value]="source.id" />
    </span>

    @if(source.createdAt){
    <span style="margin-left: 10px">
      <p-tag icon="pi pi-database" severity="secondary" value="{{ source.createdAt | date : 'dd/MM/yyyy HH:mm' }}" />
    </span>
    } @if(source.updatedAt){
    <span style="margin-left: 10px">
      <p-tag icon="pi pi-refresh" severity="secondary" value="{{ source.updatedAt | date : 'dd/MM/yyyy HH:mm' }}" />
    </span>
    }
  </p-card>
</div>

}
