<div style="margin-bottom: 10px; display: flex; justify-content: space-between">
  <button style="background-color: red; color: white" (click)="onDelete()"><span class="pi pi-trash"></span></button>
  <button style="background-color: red; color: white" (click)="onNone()"><span class="pi pi-circle"></span></button>
  <button style="background-color: red; color: white" (click)="onNone()"><span class="pi pi-circle"></span></button>
  <button style="background-color: red; color: white" (click)="onDetails()"><span class="pi pi-arrow-up-right-and-arrow-down-left-from-center"></span></button>
</div>
