.btn-round {
    background-color: rgba(150, 74, 244, 0.642);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.btn-trash {
    background-color: rgba(255, 0, 0, 0.642);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}