<div class="node-container">
  <app-node-toolbar (delete)="handleToolbarEvents('delete')" (none)="handleToolbarEvents('none')" (details)="handleToolbarEvents('details')"></app-node-toolbar>
  <div class="content">
    <div class="header">
      <div class="title">Lead</div>
    </div>
    <div class="body">
      <p>{{ node()?.data?.nodeData?.name }}</p>
    </div>
  </div>
  <v-handle type="source" position="right" id="a"></v-handle>
  <v-handle type="target" position="left" id="b"></v-handle>
</div>
