<p-button label="Start Tour" (click)="startTour()" />

<h1>Aprende a utilizar Control Markets</h1>

<br />
<swiper-container #mainSwiper paginator="true" space-between="30" slides-per-view="2.30">
  @for (card of cards(); track $index) {
  <swiper-slide style="padding: 6px">
    <p-card class="card-slider">
      <ng-template #header>
        <div class="card-header-image">
          <img alt="Card" class="img-fluid" [src]="card.imageUrl" />
        </div>
      </ng-template>
      <ng-template #title>{{ card.title }}</ng-template>
      <ng-template #subtitle>{{ card.subtitle }}</ng-template>
      <p>{{ card.content }}</p>
      <ng-template #footer>
        <div class="flex gap-4 mt-1">
          <!-- <p-button label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" /> -->
          <p-button label="Leer" class="w-full" styleClass="w-full" (click)="openExternalLink(card)" />
        </div>
      </ng-template>
    </p-card>
  </swiper-slide>
  }
</swiper-container>

<hr />
