<p-button (click)="removeNode()" class="hover-button" icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" />

@if(node()?.data?.nodeData?.type === 'image') {

<div class="loading-border-container" [class.in-progress]="jobExecutionState()?.status === 'in_progress'">
  <div class="content-wrapper">
    <img width="150px" height="auto" class="image" [src]="node()?.data?.nodeData?.storage?.url" />
    <p-tag style="position: absolute; bottom: 10px; right: 10px" class="tag" [value]="jobExecutionState()?.status || '🦻'" severity="danger" />
  </div>
</div>
} @if(node()?.data?.nodeData?.type === 'audio') {

<p-tag [value]="node()?.data?.nodeData?.name" />

<audio controls [src]="node()?.data?.nodeData?.storage?.url" width="150px" height="auto" autoplay></audio>
}

<handle type="source" position="right" id="right" />
