@if (selected()) {
<app-node-toolbar (delete)="handleToolbarEvents('delete')" (none)="handleToolbarEvents('none')" (details)="handleToolbarEvents('details')"> </app-node-toolbar>
}

<div class="node-container" (dblclick)="openModal()" (click)="selectNode()">
  <div class="node-card" [ngClass]="'status-' + (jobExecutionState()?.status || 'default')">
    <!-- SOLO SI EL nodo es imagen. -->
    @if(node()?.data?.nodeData?.type === 'image') {
    <div class="image-background" [style.background-image]="'url(' + node()?.data?.nodeData?.storage?.url + ')'">
      <p-tag class="tag" [value]="jobExecutionState()?.status || '🦻'" severity="danger" />
      <h4>{{ node()?.data?.nodeData?.name }}</h4>
    </div>
    } @if(node()?.data?.nodeData?.type === 'audio') {
    <div class="audio-container">
      <p-tag [value]="node()?.data?.nodeData?.name" />
      <audio controls [src]="node()?.data?.nodeData?.storage?.url"></audio>
    </div>
    }

    <handle type="source" position="right" id="right" />
  </div>
</div>
