<h3>Leads Form</h3>

<div class="source-form-card">
  <p-card [header]="entityId() ? 'Edit Lead' : 'New Lead'">
    <form [formGroup]="form">
      <div style="display: flex; gap: 10px">
        <div style="width: 100%">
          <div class="form-field">
            <label for="name" class="block">Name</label>
            <input pInputText id="name" type="text" formControlName="name" placeholder="Enter source name" />
          </div>

          <div class="form-field">
            <label for="description" class="block">Description</label>
            <textarea id="description" pTextarea formControlName="description" rows="5" class="w-full" placeholder="Enter source content"> </textarea>
          </div>
        </div>
      </div>

      <div>
        <p-button (click)="extractNumberInformation()" label="Extract number information" icon="pi pi-search" iconPos="right"> </p-button>
      </div>

      <br />

      <div>
        <p-button (click)="processPhoneExtractionAll()" label="Extract number information for all Pending" icon="pi pi-search" iconPos="right"> </p-button>
      </div>
    </form>

    <div style="display: flex; justify-content: flex-end">
      <p-button (click)="save()" label="Save Lead" [disabled]="!form.valid" icon="pi pi-check" iconPos="right"> </p-button>
    </div>

    <div>
      @for(relation of relationPopupSelector; track relation.id) {
      <p-chip [label]="relation.name" [image]="relation.image" alt="Avatar image" [removable]="true" (onRemove)="removeRelationFromList(relation)" />
      }
    </div>

    <p-dialog header="Search for relation" [(visible)]="isDialogVisible" [modal]="true" [style]="{ width: '50vw' }" draggable="false">
      <app-lead-list [onlyView]="true" (onSelect)="handleRelationSelection($event)"></app-lead-list>
    </p-dialog>
  </p-card>
</div>
