<div class="toolbar-container">
  <button class="execute-btn" (click)="onRunNode()" [disabled]="isJobInProgress()" title="Run">
    <i class="pi pi-play"></i>
  </button>
  <button class="remove-btn" (click)="onGetExecutionUrl()" [disabled]="isJobInProgress()" title="Get execution URL">
    <i class="pi pi-link"></i>
  </button>
  <button class="btn-round" (click)="onRunEndPoint()" [disabled]="isJobInProgress()" title="Run endpoint">
    <span class="pi pi-circle"></span>
  </button>
  <app-counter [status]="taskExecutionState()?.status || statusJob()" />

  <!-- {{ statusJob() }} -->
</div>
