:host {
  display: block;
}


.custom-node {
  width: 190px;
  height: 270px;
  position: relative;
  /* background: #f0f0e7; */ /* Removed background color */
  border: 3px solid rgb(159, 26, 220);
  border-radius: 10%;
  overflow: hidden; /* Important to contain the blurred background */

  display: flex; /* Keep flex for alignment if needed, or adjust as per content */
  flex-direction: column; /* Stack content vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  padding: 10px; /* Add some padding */

  &_selected {
    border: 2px solid gray;
  }
}

.card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Blur effect */
  -webkit-filter: blur(8px); /* For Safari */
  z-index: 1;
  border-radius: inherit; /* Inherit border-radius from parent */
}


.custom-node .hover-button {
  display: none;
  z-index: 3; /* Ensure button is above other card content */
  /* Add any other styling for the button here */
}

.custom-node:hover .hover-button {
  display: block;
}
.custom-node video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Or 'contain' depending on the desired behavior */
  z-index: 2; /* Ensure video is above the background but below buttons */
}
.card-content {
  position: relative;
  z-index: 3;
  /* Style your text content here */
  color: white; /* Example text color */
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7); /* Example text shadow for readability */
}