.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-field-col-2 {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}