@use "../mixins" as *;

.node-container {
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
}

.node-card {
  border-radius: 15px;
  border: 5px solid #002128;
  overflow: hidden;
  box-shadow: 7px 7px 21px #f01779, -7px -7px 21px #ffffff;
}

.image-background {
  background-size: cover;
  background-position: center;
  height: 240px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);

}


.status-default {
  @include status-animation("default", #f57403); // Default orange
}

.status-pending {
  @include status-animation("yellow", yellow);
}

.status-in_progress {
  @include status-animation("blue", blue);
}

.status-completed {
  @include status-animation("green", green);
}

.status-failed {
  @include status-animation("red", red);
}