:host {
  display: block;
}


.custom-node {
  width: 190px;
  height: 230px;
  position: relative;
  /* background: #f0f0e7; */ /* Removed background color */
  border: 2px solid rgb(246, 130, 91);
  border-radius: 12%;
  overflow: hidden; /* Important to contain the blurred background */

  display: flex; /* Keep flex for alignment if needed, or adjust as per content */
  flex-direction: column; /* Stack content vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  padding: 10px; /* Add some padding */

  &_selected {
    border: 2px solid gray;
  }
}

.card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Blur effect */
  -webkit-filter: blur(8px); /* For Safari */
  z-index: 1;
  border-radius: inherit; /* Inherit border-radius from parent */
  background-color: rgba(0, 0, 0, 0.5);

}

.card-content {
  position: relative; /* To sit on top of the background */
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: auto; /* Allow scrolling for long content */
  padding: 15px; /* Padding for the text content */
  box-sizing: border-box;
}

.main-text {
  color: white;
  font-size: 14px; /* Adjusted font size */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Enhanced text shadow for readability */
}

/*
.text-node {
  color: white;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 5px;
}
*/

.custom-node .hover-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3; /* Ensure button is above other card content */
  /* Add any other styling for the button here */
}

.custom-node:hover .hover-button {
  display: block;
}

.source-tag {
  color: white;
  border: 1px solid white;
  padding: 2px;
  border-radius: 5px;
}
    