@import "primeicons/primeicons.css";

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


 @import "@ionic/angular/css/palettes/dark.class.css"; 


 body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/assets/diamond-sunset-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: float 40s ease-in-out infinite;
}

// Add dark mode specific styles
body.dark::before {
    background-image: url('/assets/diamond-sunset-dark.svg');
}

@keyframes float {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

//   --ion-text-color: #ffffff;
//   --ion-text-color-rgb: 255,255,255;
//   --ion-border-color: #222222;
//   --ion-item-background: #1e1e1e;
//   --ion-toolbar-background: #1f1f1f;
//   --ion-tab-bar-background: #1f1f1f;
//   --ion-card-background: #1e1e1e;
// }


.p-card{
    background: transparent !important;
    backdrop-filter: blur(2px);
    border: 1px solid #000;
    transition: all 0.3s ease;

}

.p-card:hover {
    /* filter: drop-shadow(0 0 0.75rem rgb(0, 229, 255)); */
    filter: drop-shadow(-1px 1px 1px var(--shadow-card));
    transform: translateY(-2px);
  }
  
  

.p-select, .p-inputtext, .p-textarea{
    background: rgba(255, 255, 255, 0.614) !important;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2) !important;
}

.p-dropdown {
    background: rgba(255, 170, 0, 0.372) !important;
    backdrop-filter: blur(1px) !important;
    z-index: 3;
}

.clickable {
    cursor: pointer;
  }