@if(task){
<div>
  <p-card [header]="task.name">
    <markdown>{{ task.description }}</markdown>
    <div><strong>Status:</strong> {{ task.status }}</div>
    <div><strong>Task Type:</strong> {{ task.taskType }}</div>
    @if(task.model){
    <div><strong>Model:</strong> {{ task.model.provider }} - {{ task.model.modelName }}</div>
    } @if(task.sources?.length){
    <div>
      <strong>Sources:</strong>
      <ul>
        <li *ngFor="let source of task.sources">{{ source.name }}</li>
      </ul>
    </div>
    } @if(task.agentCards?.length){
    <div>
      <strong>Agent Cards:</strong>

      <ul>
        <li *ngFor="let agent of task.agentCards">{{ agent.name }}</li>
      </ul>
    </div>
    }
  </p-card>
</div>
}
