@if (selected()) {
<app-node-toolbar (delete)="handleToolbarEvents('delete')" (none)="handleToolbarEvents('none')" (details)="handleToolbarEvents('details')"> </app-node-toolbar>
}

<div class="node-container" (dblclick)="openModal()" (click)="selectNode()">
  <div class="node-card" [ngClass]="'status-' + (jobExecutionState()?.status || 'default')">
    @if(baseMessage){
    <message-content-displayer [message]="baseMessage"></message-content-displayer>
    }
    <div class="audio-container">
      <p-tag [value]="node()?.data?.nodeData?.name" />
      <audio controls [src]="node()?.data?.nodeData?.storage?.url"></audio>
      @if(!hasTranscription){
      <p-button (click)="getTranscriptions()" label="Get Transcription"></p-button>
      }
    </div>

    <handle type="source" position="right" id="right" />
  </div>
</div>
