@use "../mixins" as *;

.node-container {
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
  min-width: 140px;

  max-width: 420px;

}

.node-card {
  border-radius: 15px;
  border: 5px solid #03c9f5;
  overflow: hidden;
  box-shadow: 7px 7px 21px #1779f0, -7px -7px 21px #ffffff;

}

.status-default {
  @include status-animation("white", white); // Default orange
}


.status-pending {
  @include status-animation("yellow", yellow);
}

.status-in_progress {
  @include status-animation("blue", blue);
}

.status-completed {
  @include status-animation("green", green);
}

.status-failed {
  @include status-animation("red", red);
}

.audio-container {
  padding: 10px;
  // display: flex;
  // flex-direction: column;
  gap: 10px;

  audio {
    width: 100%;
    border-radius: 5px;
  }
}